.social_site_info {
    margin-left: 8px;
}

.user-image {
    width: 16px;
}

h3 {
    font-size: 14px;
}

#contents {
    width: auto;
}

/* 点線 */
ul.comment_list {
    overflow: hidden;
    list-style: none;
}

li.comment_item {
    margin-top: -1px;
    padding: 5px;
    border-top: 1px dotted #999;
}

.comment_item .date {
    color: #999999;
}

.comment_item .date > a {
    font-size: 90%;
}

.loading > * {
    display: none;
}

.loading::after {
    content: "ロード中";
}